.content-wrapper {
    overflow: auto;
    padding-bottom: 20px;
}

.note-editor.note-frame {
    .note-editing-area {
        .note-editable,
        .note-editable {
            height: 300px;
        }
    }
}

.delete-article {
    color: #3490dc;
    border: none;
}

.buttons-group {
    .delete-article {
        color: #ffffff;
    }
}

#articleTable {
    tbody {
        tr {
            th {
                padding: 0.25rem;
            }

            td {
                max-width: 200px;
                padding: 0.25rem;
                overflow: hidden;
                text-overflow: ellipsis;

                &:nth-child(2) {
                    max-width: 200px;
                    overflow: hidden;
                }

                &:nth-child(3) {
                    max-width: 300px;
                    overflow: hidden;
                }

                &:last-child {
                    min-width: 50px;
                    text-align: center;

                    button {
                        padding: 0;
                    }
                }
            }
        }
    }
}

#quotetable {
    thead {
        th {
            vertical-align: middle;
        }

        .sorting,
        .sorting_asc,
        .sorting_desc,
        .sorting_asc_disabled,
        .sorting_desc_disabled {
            &::before,
            &::after {
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                align-items: center;
            }
        }
    }

    tbody {
        td {
            max-width: 200px;
            padding: 0.25rem;
            overflow: hidden;
            text-overflow: ellipsis;

            p {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
            }

            &:nth-child(3) {
                max-width: 300px;
                overflow: hidden;
            }

            &:last-child {
                min-width: 50px;
                text-align: center;

                button {
                    padding: 0;
                }
            }
        }
    }
}

#booktable {
    thead {
        th {
            vertical-align: middle;
        }

        .sorting,
        .sorting_asc,
        .sorting_desc,
        .sorting_asc_disabled,
        .sorting_desc_disabled {
            &::before,
            &::after {
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                align-items: center;
            }
        }
    }

    tbody {
        td {
            max-width: 200px;
            padding: 0.25rem;
            overflow: hidden;
            text-overflow: ellipsis;

            p {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
            }

            &:last-child {
                min-width: 50px;
                text-align: center;

                button {
                    padding: 0;
                }
            }
        }
    }
}
