
.content-wrapper {
    overflow: auto;
    padding-bottom: 20px;
}

.note-editor.note-frame {
    .note-editing-area {
        .note-editable, .note-editable {
            height: 300px;
        }
    }
}

.delete-article {
    color: #3490dc;
    border: none;
}

.buttons-group .delete-article {
    color: #ffffff;
}

#articleTable tbody tr td:nth-child(2) {
    max-width: 200px;
}

#articleTable tbody tr td:nth-child(3) {
    max-width: 300px;
}